@model IEnumerable<MIdProject.Models.Video>

@{
    ViewBag.Title = "UploadVideos";
    if (Session["id"]==null || Session["type"].ToString() !="Instructor")
    {
        Response.Redirect("/Home/Index");
    }
}

<h2 style="padding-left:10%">Upload Course Videos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Video_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video_Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.C_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Video_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video_Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cours.C_Name)
            </td>
            <td></td>
        </tr>
    }

</table>


@using (Html.BeginForm("UploadVideos", "Instructor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="file" name="file" value="" />

        <input type="submit" name="name" value="Submit" />
    </div>
}
